.this_page_number, .other_page_number {
    font-size: clamp(0.6rem, 4vw, 3rem);
    padding: 0px clamp(0.6rem, 1.0vw, 4rem);
    margin: 0px 0.5rem;
}

.symbol {
    font-size: clamp(0.6rem, 4vw, 3rem);
    margin: 0px 0.5rem;
}

.this_page_number:hover {
    color: black;
}

.search_btn_container a {
    width: 5rem;
    height: 5rem;
}

.search_btn_container a img {
    width: 3rem;
}

.top_btn_container a {
    width: 5rem;
    height: 5rem;
}

.top_btn_container a img {
    width: 3rem;
}