main {
    display: flex;
    align-items: center;
    height: 100vh;
}

.search_form_container {
    border: 1px solid #000;
    border-radius: 0.1rem;
    background-color: #e4e4e4;
}

.search_button_container {
    display: flex;
    align-items: center;
    text-align: center;
}

.search_button {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}